In [1]:
import sqlite3
import pandas as pd

conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

cursor.execute('''
CREATE TABLE interns (
    intern_id INTEGER PRIMARY KEY,
    intern_name TEXT,
    track TEXT
)
''')

cursor.executemany('''
INSERT INTO interns (intern_id, intern_name, track)
VALUES (?, ?, ?)
''', [
    (1, 'Eman', 'Data Science'),
    (2, 'Rahul', 'Web Development'),
    (3, 'Sneha', 'Data Science'),
    (4, 'Amit', 'Cyber Security')
])

 
cursor.execute('''
CREATE TABLE mentors (
    mentor_id INTEGER PRIMARY KEY,
    mentor_name TEXT,
    track TEXT
)
''')

 
cursor.executemany('''
INSERT INTO mentors (mentor_id, mentor_name, track)
VALUES (?, ?, ?)
''', [
    (101, 'Dr. Sharma', 'Data Science'),
    (102, 'Mr. Verma', 'Web Development'),
    (103, 'Ms. Iyer', 'Cyber Security')
])

 
query = '''
SELECT 
    i.intern_name,
    i.track,
    m.mentor_name
FROM interns i
INNER JOIN mentors m
ON i.track = m.track;
'''
df = pd.read_sql_query(query, conn)

# Step 8: Print output
print("\nJoined Data:\n")
print(df)
conn.close()

Joined Data:

  intern_name            track mentor_name
0        Eman     Data Science  Dr. Sharma
1       Rahul  Web Development   Mr. Verma
2       Sneha     Data Science  Dr. Sharma
3        Amit   Cyber Security    Ms. Iyer